# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Sublime
*.sublime*

# Data files
*.datin


# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

simen_grave*
build/*
src/kNN/kd-tree/kd-tree
src/kNN/kd-tree/kd-tree-iterative
src/kNN/kd-tree/kd-tree-naive
src/kNN/kd-tree/knn-serial
