# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Sublime
*.sublime*

# Data files
*.datin


# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

simen_grave*
build/*
src/kNN/kd-tree/kd-tree
src/kNN/kd-tree/kd-tree-iterative
src/kNN/kd-tree/kd-tree-naive
src/kNN/kd-tree/knn-serial
release/
tests/data/100_mill_points.data


###Linux###

.*
!.gitignore
*~


###LaTeX###

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


###Emacs###

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
